# Identity age verification

## References

* "Age verification" laws are actually "upload your ID or get your face scanned to access every website, ending anonymity and associating your identity with everything you do online" laws and if more people understood that they would not be down for this authoritarian nonsense, Apr 2025
https://bsky.app/profile/evangreer.bsky.social/post/3lltgsnbqr32k
https://www.stoponlineidchecks.org/
* paperssn, Apr 8
SNEAK PEEK 🚨🚨: Regulators around the world are forcing websites to verify users' ages. This is baffling because, as my new paper explains, age verification requirements counterproductively HURT children, adults, & the Internet papers.ssrn.com/sol3/papers.... #ChildSafety #AgeAuthentication
https://bsky.app/profile/ericgoldman.bsky.social/post/3lmcocik3zk24
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5208739
= third party/clearing house? gov, banks, big tech, ngo, others. none ideal/ready
+
https://support.google.com/accounts/answer/10071085?hl=en
https://segpay.com/blog/user-device-age-verification/
https://ftxidentity.com/blog/device-based-age-verification/
https://verifymy.io/age-verification-and-estimation/
https://www.newsweek.com/device-level-age-verification-our-best-shot-protecting-kids-online-opinion-2001748
https://support.apple.com/en-us/102473
https://9to5mac.com/2025/02/27/apple-age-verification-child-safety-features/
https://medium.com/@drewsmith_6943/apple-wallet-id-is-the-solution-to-age-verification-online-26bef8219832
https://about.instagram.com/blog/announcements/new-ways-to-verify-age-on-instagram
https://www.yoti.com/blog/yoti-age-scan/
* Why I Emphatically Oppose Online Age Verification Mandates | Technology & Marketing Law Blog
https://blog.ericgoldman.org/archives/2025/04/why-i-emphatically-oppose-online-age-verification-mandates.htm

* [Digital Identities and the Future of Age Verification in Europe, Apr 2025](https://www.eff.org/deeplinks/2025/04/digital-identities-and-future-age-verification-europe). likely to be backed by eIDAS
https://www.eff.org/deeplinks/2025/04/age-verification-european-union-mini-id-wallet
* https://blog.google/products/google-pay/google-wallet-age-identity-verifications/
* [Google, Apple clash with Meta over age checks on App Stores: All you need to know, Jun 2025](https://www.livemint.com/technology/tech-news/google-apple-clash-with-meta-over-age-checks-on-app-stores-all-you-need-to-know-11749835268800.html)
* [New: I looked at 90 porn sites to test the new age-verification law rewriting the web. The ones following the rules, and scanning visitors' faces, are crumbling, while the lawbreakers are doubling or tripling their traffic. One of many unintended consequences for an experimental tech https://wapo.st/47QuttW](https://bsky.app/profile/drewharwell.com/post/3lxoygbljzs2o), <https://bsky.app/profile/jsrailton.bsky.social/post/3lxp4hjhkqs2x>, <https://www.washingtonpost.com/technology/2025/08/31/age-verification-uk-porn-sites/>
* [Trial of tech that could be used to keep Australian under-16s off social media finds some errors ‘inevitable’, Aug 2025](https://www.theguardian.com/australia-news/2025/aug/31/age-assurance-technology-trial-report-australia-under-16-social-media-ban-some-errors-inevitable), <https://ageassurance.com.au/report/>
* [Heartbreaking: Worst Person You Know Just Made a Great Point https://www.404media.co/4chan-and-kiwi-farms-sue-the-uk-over-its-age-verification-law/](https://bsky.app/profile/evacide.bsky.social/post/3lxflur4mb22n)
* [Mississippi, Bluesky, Blacksky, the ATmosphere, Mastodon, and the Fediverse https://privacy.thenexus.today/mississippi-bluesky-blacksky-the-atmosphere-mastodon-and-the-fediverse/ A summary of the situation (both in the ATmosphere and the Fediverse) links to a bunch of interesting discussions, and an appendix on just why age verification laws are so bad.  🧵](https://bsky.app/profile/jdp23.thenexus.today/post/3lxilk7a27c2q)
* [To be clear: this is yet another reason why many of these laws are so problematic. If people want to run fediverse instances of any size, the fact that costly age verification requirements could put them in legal jeopardy, is very bad. Regulators make laws as if every website is Facebook.](https://bsky.app/profile/mmasnick.bsky.social/post/3lxky5ckwc22b), <https://techcrunch.com/2025/08/29/mastodon-says-it-doesnt-have-the-means-to-comply-with-age-verification-laws/>

* [There is now academic research showing state age verification laws for adult websites don't work.
Google Search numbers in Louisiana:
🔎 47% drop in searches for largest complying adult site
🔎 48% more searches for the largest non-compliant site
🛡️ 34% more searches for VPNs
https://osf.io/z83ev](https://bsky.app/profile/johnperrino.com/post/3ljq42xhews2i)
* [If every country starts requiring that people provide official ID in order to "verify their age" to use social media, there will be no way to use any social media without associating the account with a legal identity.
This is horrible for democracy,
and should terrify everyone.
It doesn't matter if platforms use third-parties or not. It doesn't matter if they use some special encrypted code, the result is the same. This gatekeeps open discussions and government criticisms free from reprisals.
This is bad.
This is China "free-speech" bad.
#Democracy #AgeVerification #Privacy](https://infosec.exchange/@Em0nM4stodon/115362842100418367)
* [EU Launches New Push For Digital ID Age Checks and Big Tech Probe Under Digital Services Act, Oct 2025](https://reclaimthenet.org/eu-launches-new-push-for-digital-id-age-checks-and-big-tech-probe-under-digital-services-act)

* [We all want the Internet to be a safer place but current online ID checks or age verification solutions causes harm to everyone. The harm comes when this data is collected and stored, often through third party companies that expose people to identity and data theft.
📢 Act Now, Voice You're Concerns Today!
https://www.stoponlineidchecks.org/
#privacy #freedom #SpeakUp #AgeVerfication #news @fight](https://fosstodon.org/@adamsdesk/115375187219588643)

* [Pornhub Is Urging Tech Giants to Enact Device-Based Age Verification | WIRED https://www.wired.com/story/pornhub-is-urging-tech-giants-to-enact-device-based-age-verification/](https://bsky.app/profile/tek.randhome.io/post/3m6e4voi4ys2q)
* [To learn more about age verification
and the problems related to this online practice, you can check our:
🎞️ Video: https://www.privacyguides.org/videos/2025/08/15/age-verification-is-a-privacy-nightmare/
📰 Article: https://www.privacyguides.org/articles/2025/05/06/age-verification-wants-your-face/
#StopOnlineIDChecks #Privacy #PrivacyGuides #AgeVerification](https://mastodon.neat.computer/@privacyguides/115647675009193931)
* [Congress is moving toward a nationwide age-verification mandate, but instead of verifying age on every website or app, lawmakers want to make app stores do it.
https://www.theverge.com/policy/830877/app-store-age-verification-act-pinterest-endorsement
#ageverification #privacy #surveillance #tech
1/3](https://mastodon.social/@oaklandprivacy/115645821877867297), <https://infosec.exchange/@thenexusofprivacy/115645380481901293>, <https://mastodon.fightforthefuture.org/@fight/115645356726532257>, <https://www.reddit.com/r/pcgaming/comments/1pbdl7q/ama_we_are_digital_and_human_rights_advocates_ask/?rdt=54134>, <https://bsky.app/profile/mikestabile.bsky.social/post/3m6wxh5ewgk26>, <https://www.techradar.com/vpn/vpn-privacy-security/missouris-search-for-vpns-lifts-off-as-the-first-day-of-age-verification-arrives>, <https://bsky.app/profile/davidsullivan.bsky.social/post/3m6xft7yijs2z>, <https://iapp.org/news/a/mind-the-gap-understanding-age-verification-and-assurance>
* [Age verification is emerging in the EU as a tool to protect minors online ⚠️. But it raises privacy risks, expands surveillance, and excludes millions from digital spaces 🔒.
Experts warn it creates a false sense of security while failing to address root causes of online harm.
@edri
🔗 https://edri.org/our-work/why-age-verification-misses-the-mark-and-puts-everyone-at-risk/
#TechNews #Privacy #DataRights #DigitalSafety #CyberSecurity #UserData #ChildRights #DigitalRights #OnlineSafety #GDPR #Inclusion #DigitalEthics #AI #Surveillance #HumanRights](https://mastodon.social/@knoppix95/115632388421979559)
* [@eff Lawmakers who draft/enact Age Verification and similar policies insist that said policies are about "child safety." But anyone with even rudimentary critical thinking skills knows that is not true
The true purposes of these policies are as follows:
-Make organizing protests virtually impossible
-Erase marginalized groups from the internet
-Make accessing vital resources much harder, if not impossible
-Erase anything that dilutes the state's ability to brainwash the populace (Palestine, Environmentalism, LGBTQ+ rights, Voting Rights, Reproductive Rights, Immigration, etc.).
-To "return" sexuality and expression in general back to their "proper" place in society and make adult art, sex work, etc. more precarious, more exploitable, and with less recourse to any law or institution
-General petty spite towards people who don't treat lawmakers like deities
Overall, de-anonymization won't make kids safe and it won't result in a more polite internet (just look at Facebook and LinkedIn).
Anyone who advocates for these policies shouldn't complain when their ID/Credit Card/Biometric data is inevitably leaked to the dark web and they have to deal with ID theft and such for years/decades.
They also shouldn't complain when they can't access a vital service and/or get jailed because either 1: The government didn't approve of what they said or 2: The extremely error prone AI that scans their messages thought the innocuous pic of their kids/pets was CSAM/Bestiality.
#Privacy #DigitalRights #FreeSpeech #Censorship #Internet #SocialMedia #US #UnitedStates #EU #Canada #Australia](https://ieji.de/@GalacticGoddess/115685602688405813)
* [10 (Not So) Hidden Dangers of Age Verification, Dec 2025](https://www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification)
* ["We may share your information with our Epic Games family of companies" KWS is a US-based subsidiary of Epic Games, created by startup SuperAwesome (youth-targeted ad strategies). Check out what happens "If we are acquired"  https://www.kidswebservices.com/en-US/partner-privacy-policy](https://bsky.app/profile/violetblue.bsky.social/post/3m7lotx5csk2c)
* [Age-verification laws now cover half the US, requiring IDs or face scans to access “harmful” content 📄
Advocates warn these mandates expand surveillance, increase breach risks, and could enable censorship under bills like KOSA ⚠️
Groups like @fightforthefuture.org are pushing for safer alternatives 🛡️
🔗 https://www.wired.com/story/age-verification-is-sweeping-the-us-activists-are-fighting-back/
#TechNews #Privacy #DigitalRights #Censorship #Security #Data #AI #Policy #Internet #Safety #Freedom #Surveillance #USA #OnlineSafety #AgeVerification #US](https://mastodon.social/@knoppix95/115702835591158867)
* [This article is ten years old. https://www.engadget.com/2015-12-02-paypal-square-and-big-bankings-war-on-the-sex-industry.html](https://bsky.app/profile/violetblue.bsky.social/post/3m7tvzjfs2k23)
* [Over the past few years, FSC raised alarms in Washington about debanking of our industry. Thousands of you joined us to file complaints.
Finally, a new government report has affirmed it: major banks wrongly discriminated against adult businesses.
Our work is paying off. Now, we fight for a fix.](https://www.occ.gov/news-issuances/news-releases/2025/nr-occ-2025-123.html)
* [Add to this that social media age checks in Australia are being outsourced to KWS, a US-based subsidiary of Epic Games -- created by startup SuperAwesome (youth-targeted ad strategies).
"We may share your information with our Epic Games family of companies" https://www.kidswebservices.com/en-US/partner-privacy-policy](https://bsky.app/profile/violetblue.bsky.social/post/3m7tw6vq33k23), "So, an agency that wants to run ads for gambling funded Australia’s (terrible, misguided, authoritarian) campaign to ban teens from social media because now the government is abandoning a plan to ban gambling ads citing the age verification law as a rationale https://www.crikey.com.au/2025/12/12/pro-teen-social-media-ban-group-funded-firm-making-gambling-ads/"
* [@UNICEF.org's statement on age restrictions on social media highlights a key point that supporters of these restrictions ignore — social media bans hurt the most vulnerable and marginalized youth, cutting them off from sources of connection, expression, and learning. https://www.unicef.org/press-releases/age-restrictions-alone-wont-keep-children-safe-online](https://bsky.app/profile/eff.org/post/3ma7ri7vrwu2n)
* [Age Verification Is Coming For the Internet. We Built You a Resource Hub to Fight Back. Dec 2025](https://www.eff.org/deeplinks/2025/12/age-verification-coming-internet-we-built-you-resource-hub-fight-back), <http://www.eff.org/age>

* [Should I Use My State’s Digital Driver’s License? Oct 2024](https://www.eff.org/deeplinks/2024/10/should-i-use-my-states-digital-drivers-license) (Mobile app ID)
