# Identity age verification

## References

* ["Age verification" laws are actually "upload your ID or get your face scanned to access every website, ending anonymity and associating your identity with everything you do online" laws and if more people understood that they would not be down for this authoritarian nonsense, Apr 2025](https://bsky.app/profile/evangreer.bsky.social/post/3lltgsnbqr32k), <https://www.stoponlineidchecks.org/>
* [SNEAK PEEK 🚨🚨: Regulators around the world are forcing websites to verify users' ages. This is baffling because, as my new paper explains, age verification requirements counterproductively HURT children, adults, & the Internet papers.ssrn.com/sol3/papers.... #ChildSafety #AgeAuthentication](https://bsky.app/profile/ericgoldman.bsky.social/post/3lmcocik3zk24), <https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5208739>
* <https://support.google.com/accounts/answer/10071085?hl=en>
* <https://segpay.com/blog/user-device-age-verification/>
* <https://ftxidentity.com/blog/device-based-age-verification/>
* <https://verifymy.io/age-verification-and-estimation/>
* <https://www.newsweek.com/device-level-age-verification-our-best-shot-protecting-kids-online-opinion-2001748>
* <https://support.apple.com/en-us/102473>
* <https://9to5mac.com/2025/02/27/apple-age-verification-child-safety-features/>
* <https://medium.com/@drewsmith_6943/apple-wallet-id-is-the-solution-to-age-verification-online-26bef8219832>
* <https://about.instagram.com/blog/announcements/new-ways-to-verify-age-on-instagram>
* <https://www.yoti.com/blog/yoti-age-scan/>
* [Why I Emphatically Oppose Online Age Verification Mandates | Technology & Marketing Law Blog](https://blog.ericgoldman.org/archives/2025/04/why-i-emphatically-oppose-online-age-verification-mandates.htm)
* [Digital Identities and the Future of Age Verification in Europe, Apr 2025](https://www.eff.org/deeplinks/2025/04/digital-identities-and-future-age-verification-europe). likely to be backed by eIDAS
<https://www.eff.org/deeplinks/2025/04/age-verification-european-union-mini-id-wallet>
* <https://blog.google/products/google-pay/google-wallet-age-identity-verifications/>
* [Google, Apple clash with Meta over age checks on App Stores: All you need to know, Jun 2025](https://www.livemint.com/technology/tech-news/google-apple-clash-with-meta-over-age-checks-on-app-stores-all-you-need-to-know-11749835268800.html)
* [New: I looked at 90 porn sites to test the new age-verification law rewriting the web. The ones following the rules, and scanning visitors' faces, are crumbling, while the lawbreakers are doubling or tripling their traffic. One of many unintended consequences for an experimental tech https://wapo.st/47QuttW](https://bsky.app/profile/drewharwell.com/post/3lxoygbljzs2o), <https://bsky.app/profile/jsrailton.bsky.social/post/3lxp4hjhkqs2x>, <https://www.washingtonpost.com/technology/2025/08/31/age-verification-uk-porn-sites/>
* [Trial of tech that could be used to keep Australian under-16s off social media finds some errors ‘inevitable’, Aug 2025](https://www.theguardian.com/australia-news/2025/aug/31/age-assurance-technology-trial-report-australia-under-16-social-media-ban-some-errors-inevitable), <https://ageassurance.com.au/report/>
* [Heartbreaking: Worst Person You Know Just Made a Great Point https://www.404media.co/4chan-and-kiwi-farms-sue-the-uk-over-its-age-verification-law/](https://bsky.app/profile/evacide.bsky.social/post/3lxflur4mb22n)
* [Mississippi, Bluesky, Blacksky, the ATmosphere, Mastodon, and the Fediverse https://privacy.thenexus.today/mississippi-bluesky-blacksky-the-atmosphere-mastodon-and-the-fediverse/ A summary of the situation (both in the ATmosphere and the Fediverse) links to a bunch of interesting discussions, and an appendix on just why age verification laws are so bad.  🧵](https://bsky.app/profile/jdp23.thenexus.today/post/3lxilk7a27c2q)
* [To be clear: this is yet another reason why many of these laws are so problematic. If people want to run fediverse instances of any size, the fact that costly age verification requirements could put them in legal jeopardy, is very bad. Regulators make laws as if every website is Facebook.](https://bsky.app/profile/mmasnick.bsky.social/post/3lxky5ckwc22b), <https://techcrunch.com/2025/08/29/mastodon-says-it-doesnt-have-the-means-to-comply-with-age-verification-laws/>

* [There is now academic research showing state age verification laws for adult websites don't work.
Google Search numbers in Louisiana:
🔎 47% drop in searches for largest complying adult site
🔎 48% more searches for the largest non-compliant site
🛡️ 34% more searches for VPNs
https://osf.io/z83ev](https://bsky.app/profile/johnperrino.com/post/3ljq42xhews2i)
* [If every country starts requiring that people provide official ID in order to "verify their age" to use social media, there will be no way to use any social media without associating the account with a legal identity.
This is horrible for democracy,
and should terrify everyone.
It doesn't matter if platforms use third-parties or not. It doesn't matter if they use some special encrypted code, the result is the same. This gatekeeps open discussions and government criticisms free from reprisals.
This is bad.
This is China "free-speech" bad.
#Democracy #AgeVerification #Privacy](https://infosec.exchange/@Em0nM4stodon/115362842100418367)
* [EU Launches New Push For Digital ID Age Checks and Big Tech Probe Under Digital Services Act, Oct 2025](https://reclaimthenet.org/eu-launches-new-push-for-digital-id-age-checks-and-big-tech-probe-under-digital-services-act)

* [We all want the Internet to be a safer place but current online ID checks or age verification solutions causes harm to everyone. The harm comes when this data is collected and stored, often through third party companies that expose people to identity and data theft.
📢 Act Now, Voice You're Concerns Today!
https://www.stoponlineidchecks.org/
#privacy #freedom #SpeakUp #AgeVerfication #news @fight](https://fosstodon.org/@adamsdesk/115375187219588643)

* [Pornhub Is Urging Tech Giants to Enact Device-Based Age Verification | WIRED https://www.wired.com/story/pornhub-is-urging-tech-giants-to-enact-device-based-age-verification/](https://bsky.app/profile/tek.randhome.io/post/3m6e4voi4ys2q)
* [To learn more about age verification
and the problems related to this online practice, you can check our:
🎞️ Video: https://www.privacyguides.org/videos/2025/08/15/age-verification-is-a-privacy-nightmare/
📰 Article: https://www.privacyguides.org/articles/2025/05/06/age-verification-wants-your-face/
#StopOnlineIDChecks #Privacy #PrivacyGuides #AgeVerification](https://mastodon.neat.computer/@privacyguides/115647675009193931)
* [Congress is moving toward a nationwide age-verification mandate, but instead of verifying age on every website or app, lawmakers want to make app stores do it.
https://www.theverge.com/policy/830877/app-store-age-verification-act-pinterest-endorsement
#ageverification #privacy #surveillance #tech
1/3](https://mastodon.social/@oaklandprivacy/115645821877867297), <https://infosec.exchange/@thenexusofprivacy/115645380481901293>, <https://mastodon.fightforthefuture.org/@fight/115645356726532257>, <https://www.reddit.com/r/pcgaming/comments/1pbdl7q/ama_we_are_digital_and_human_rights_advocates_ask/?rdt=54134>, <https://bsky.app/profile/mikestabile.bsky.social/post/3m6wxh5ewgk26>, <https://www.techradar.com/vpn/vpn-privacy-security/missouris-search-for-vpns-lifts-off-as-the-first-day-of-age-verification-arrives>, <https://bsky.app/profile/davidsullivan.bsky.social/post/3m6xft7yijs2z>, <https://iapp.org/news/a/mind-the-gap-understanding-age-verification-and-assurance>
* [Age verification is emerging in the EU as a tool to protect minors online ⚠️. But it raises privacy risks, expands surveillance, and excludes millions from digital spaces 🔒.
Experts warn it creates a false sense of security while failing to address root causes of online harm.
@edri
🔗 https://edri.org/our-work/why-age-verification-misses-the-mark-and-puts-everyone-at-risk/
#TechNews #Privacy #DataRights #DigitalSafety #CyberSecurity #UserData #ChildRights #DigitalRights #OnlineSafety #GDPR #Inclusion #DigitalEthics #AI #Surveillance #HumanRights](https://mastodon.social/@knoppix95/115632388421979559)
* [@eff Lawmakers who draft/enact Age Verification and similar policies insist that said policies are about "child safety." But anyone with even rudimentary critical thinking skills knows that is not true
The true purposes of these policies are as follows:
-Make organizing protests virtually impossible
-Erase marginalized groups from the internet
-Make accessing vital resources much harder, if not impossible
-Erase anything that dilutes the state's ability to brainwash the populace (Palestine, Environmentalism, LGBTQ+ rights, Voting Rights, Reproductive Rights, Immigration, etc.).
-To "return" sexuality and expression in general back to their "proper" place in society and make adult art, sex work, etc. more precarious, more exploitable, and with less recourse to any law or institution
-General petty spite towards people who don't treat lawmakers like deities
Overall, de-anonymization won't make kids safe and it won't result in a more polite internet (just look at Facebook and LinkedIn).
Anyone who advocates for these policies shouldn't complain when their ID/Credit Card/Biometric data is inevitably leaked to the dark web and they have to deal with ID theft and such for years/decades.
They also shouldn't complain when they can't access a vital service and/or get jailed because either 1: The government didn't approve of what they said or 2: The extremely error prone AI that scans their messages thought the innocuous pic of their kids/pets was CSAM/Bestiality.
#Privacy #DigitalRights #FreeSpeech #Censorship #Internet #SocialMedia #US #UnitedStates #EU #Canada #Australia](https://ieji.de/@GalacticGoddess/115685602688405813)
* [10 (Not So) Hidden Dangers of Age Verification, Dec 2025](https://www.eff.org/deeplinks/2025/12/10-not-so-hidden-dangers-age-verification)
* ["We may share your information with our Epic Games family of companies" KWS is a US-based subsidiary of Epic Games, created by startup SuperAwesome (youth-targeted ad strategies). Check out what happens "If we are acquired"  https://www.kidswebservices.com/en-US/partner-privacy-policy](https://bsky.app/profile/violetblue.bsky.social/post/3m7lotx5csk2c)
* [Age-verification laws now cover half the US, requiring IDs or face scans to access “harmful” content 📄
Advocates warn these mandates expand surveillance, increase breach risks, and could enable censorship under bills like KOSA ⚠️
Groups like @fightforthefuture.org are pushing for safer alternatives 🛡️
🔗 https://www.wired.com/story/age-verification-is-sweeping-the-us-activists-are-fighting-back/
#TechNews #Privacy #DigitalRights #Censorship #Security #Data #AI #Policy #Internet #Safety #Freedom #Surveillance #USA #OnlineSafety #AgeVerification #US](https://mastodon.social/@knoppix95/115702835591158867)
* [This article is ten years old. https://www.engadget.com/2015-12-02-paypal-square-and-big-bankings-war-on-the-sex-industry.html](https://bsky.app/profile/violetblue.bsky.social/post/3m7tvzjfs2k23)
* [Over the past few years, FSC raised alarms in Washington about debanking of our industry. Thousands of you joined us to file complaints.
Finally, a new government report has affirmed it: major banks wrongly discriminated against adult businesses.
Our work is paying off. Now, we fight for a fix.](https://www.occ.gov/news-issuances/news-releases/2025/nr-occ-2025-123.html)
* [Add to this that social media age checks in Australia are being outsourced to KWS, a US-based subsidiary of Epic Games -- created by startup SuperAwesome (youth-targeted ad strategies).
"We may share your information with our Epic Games family of companies" https://www.kidswebservices.com/en-US/partner-privacy-policy](https://bsky.app/profile/violetblue.bsky.social/post/3m7tw6vq33k23), "So, an agency that wants to run ads for gambling funded Australia’s (terrible, misguided, authoritarian) campaign to ban teens from social media because now the government is abandoning a plan to ban gambling ads citing the age verification law as a rationale <https://www.crikey.com.au/2025/12/12/pro-teen-social-media-ban-group-funded-firm-making-gambling-ads/>"
* [@UNICEF.org's statement on age restrictions on social media highlights a key point that supporters of these restrictions ignore — social media bans hurt the most vulnerable and marginalized youth, cutting them off from sources of connection, expression, and learning. https://www.unicef.org/press-releases/age-restrictions-alone-wont-keep-children-safe-online](https://bsky.app/profile/eff.org/post/3ma7ri7vrwu2n)
* [Age Verification Is Coming For the Internet. We Built You a Resource Hub to Fight Back. Dec 2025](https://www.eff.org/deeplinks/2025/12/age-verification-coming-internet-we-built-you-resource-hub-fight-back), <http://www.eff.org/age>
* [Age Assurance Methods Explained, Dec 2025](https://www.eff.org/deeplinks/2025/12/age-assurance-methods-explained)
* [Age Verification: What countries require you to perform ID checks & for what websites and platforms? Jan 2026](https://tuta.com/blog/age-verification-kills-anonymity)
* [Can you get round a porn block? Oct 2016](https://www.girlonthenet.com/blog/get-round-a-porn-block/), [Age verification: what’s the harm? Aug 2025](https://www.girlonthenet.com/blog/age-verification-whats-the-harm/)
* [Vérification de l’âge sur les réseaux sociaux : un texte mort-né, Jan 2026 - FR](https://projetarcadie.com/verification-age-reseaux-sociaux-mort-ne/)
* [Vimeo is asking me for age verification to continue access my own files, even if I had this account since 2007. Even if I was 1 year old when I created that account, I'd still be 20 years old now.
So why the ask? What a useless thing.
#vimeo #youtube #ageverification #videos](https://mastodon.social/@eugenialoli/116005546030777782)
* [The idea that age verification can be performed online with an information exchange that is unlinkable to an identity, is pretty much the same kind of architectural fallacy which leads parliamentarians, lawyers, etc to accept the fiction that you can "unsay" or "withdraw" an insult or statement.](https://bsky.app/profile/alecmuffett.bsky.social/post/3me34c7klmk24), <https://www.cs.columbia.edu/~smb/papers/age-verify.pdf>
* [Age Verification: What countries require you to perform ID checks & for what websites and platforms? Feb 2026](https://tuta.com/blog/age-verification-kills-anonymity)
* [I wish I could force every legislator
in favor of Age Verification to watch this amazing talk by Carissa Véliz,
So that they understand the dangers
of the surveillance infrastructure they are currently putting in place.
You should watch it too: https://www.youtube.com/watch?v=xSPRouBvgFE
#Privacy #Democracy #HumanRights #AgeVerification #MassSurveillance #Fascism](https://infosec.exchange/@Em0nM4stodon/116031435192287968)
* [Colorado Lawmakers Push for Age Verification at the Operating System Level  Rather than having people verify their age on every app they use, Colorado's SB26-051 would implement a way for devices to share an 'age-bracket' signal to third-party apps. Feb 2026](https://www.pcmag.com/news/colorado-lawmakers-push-for-age-verification-at-the-operating-system-level) "Ball also said the legislation was based on California's bill AB 1043, which was passed last year. It too requires OS makers to create a way for the device owner to register their age bracket, which can then be shared to app developers over an API. The California law starts to take effect January 1, 2027. "
* [Discord’s Controversial Face Scan and ID Rules Are Just the Beginning Don’t be surprised when your other favorite websites do it next. Feb 2026](https://slate.com/technology/2026/02/discord-id-age-verification-online-safety.html)
* [UK Govt to demand AgeVerification of “ALL regulated user-to-user” services, and VPNs for anyone under 18; well that would end online anonymity in the UK…](https://alecmuffett.com/article/146692), <https://bills.parliament.uk/publications/64773/documents/7791>
* [Discord just canceled its planned age verification rollout, for now, Feb 2026](https://9to5mac.com/2026/02/24/discord-just-canceled-its-planned-age-verification-rollout-for-now/), [Discord is delaying its global age verification rollout](https://www.theverge.com/policy/883852/discord-age-verification-global-walkback-delay)
* [@mttaggart@infosec.exchange I wrote about the cryptography needed to build a solution a while ago: https://soatok.blog/2025/07/31/age-verification-doesnt-need-to-be-a-privacy-footgun/
The usability on top of the cryptography is a whole 'nother can of worms, though.
And even if you use good cryptography for privacy, if your endpoint leaks your credentials anyway, you still put users at risk.
Further, even if a good solution existed, the ways the laws and regulations that are being written about these verification requirements are often shitty on top of all that.
There's not an easy answer. But there should be.](https://furry.engineer/@soatok/116143673049907607)
* [Age verification vendor Persona left frontend exposed, researchers say, Feb 2026](https://www.malwarebytes.com/blog/news/2026/02/age-verification-vendor-persona-left-frontend-exposed)
* [The danger with these kinds of laws is that it is very easy to make them sound reasonable.
To fix that, please imagine these restrictions and requirements applied to book publishers and authors and libraries.
It would be absurd to require age verification/checking before being able to read something. We allow parents to decide what is suitable for their own children, but we do not require librarians or bookstores to do age checks, nor hold authors liable for precocious reading.](https://mastodon.social/@sarahjamielewis/116161841400607636)
* [California's AB 1043 (Digital Age Assurance Act) is annoying, but nowhere near the danger of other age verification proposals. The requirement is for a signal of age/age bracket from OS to application. It is not verification as we usually define it.
You can make slippery slope arguments, but before you do, worth reading the stated arguments for/against the bill.
Also this bill has been law for some time now??? Goes into effect in 2027, but it became law in October 2025!
https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=202520260AB1043](https://infosec.exchange/@mttaggart/116160898478169922)
* [So, I have actually read the text of California law CA AB1043 and, honestly, I don't hate it.  It requires operating systems to let you enter a date when you create a user account and requires a way for software to get a coarse-grained approximation of this that says either 'over 18' or one of three age ranges of under-18s.  Importantly, it doesn't require:
Remote attestation.Tamper-proof storage of the age.Any validation in the age.In short, it's a tool for parents: it allows you to set the age of a child's account so that apps (including web browsers, which can then expose via JavaScript or whatever) can ask questions about what features they should expose.
In a UNIX-like system, this is easy to do, with a tiny amount of new userspace things:
Define four groups for the four age ranges (ideally, standardise their names!).Add a /etc/user_birthdays file (or whatever name it is) that stores pairs of username (or uid) and birthdays.Add a daily cron job that checks the above file and updates group membership.Modify user-add scripts / GUIs to create an entry in the above file.Add a tool to create an entry in the above file for existing user accounts.This doesn't require any kernel changes.  Any process can query the set of groups that the user is in already.
If a parent wants to give their child root, they can update the file and bypass the check.  And that's fine, that's a parent's choice.  And that's what I want.
I like this approach far more than things that require users to provide scans of passports and other toxically personal information to be able to use services.  If we had this feature, then the Online Safety Act could simply require that web browsers provide a JavaScript API to query the age bracket and didn't work unless it returned 'over 18'.](https://infosec.exchange/@david_chisnall/116160637051672728)
* [The world wants to ban children from social media, but there will be grave consequences for us all. Age-verification systems require collecting sensitive data to support the biometric information. In no time, the internet will become a fully surveilled digital panopticon, Mar 2026](https://www.theguardian.com/commentisfree/2026/mar/02/ban-children-social-media-biometic-data-surveilled)
* [Computer Scientists Caution Against Internet Age-Verification Mandates An open letter warns of censorship, centralized power, and loss of privacy. Mar 2026](https://reason.com/2026/03/04/computer-scientists-caution-against-internet-age-verification-mandates/)
* [Again to really hit the nail on the head since I am getting some replies about "how will they enforce this"
The age verification part is no enforceable, just enter 1/1/1970 as a birthdate.
The requirements on operating systems and developers to implement and use the functionality is very much enforceable against any developers/maintainers who reside in impacted states, and any projects who have significant ties to entities in those states (think: grants/funds/donors/conferences/offices)](https://mastodon.social/@sarahjamielewis/116178526622637491)
* [Remember, if they make this law, most places online literally cannot afford to do ID verification themselves and will have to outsource it, and the dominant business in that field currently is the one that is connected to Epstien-business-partner-owned fascist-surveillance-corporation Palantir.](https://bsky.app/profile/malachitetiger.bsky.social/post/3mggrv2fq4k26), <https://broadbandbreakfast.com/kids-act-passes-energy-and-commerce-along-partisan-lines-coppa-2-0-postponed/>
* [The ABC’s of Age Verification in the United States, Jan-Nov 2025](https://actonline.org/2025/01/14/the-abcs-of-age-verification-in-the-united-states/)
* [Age Verification Wants Your Face, and Your Privacy, May 2025](https://www.privacyguides.org/articles/2025/05/06/age-verification-wants-your-face/)
* [🚨 BREAKING 🚨
The UK Information Commissioner's Office and Ofcom are pushing for tech companies to strengthen age checks.
It's disastrous that the ICO wants to somehow 'protect children’s data' by compelling 13-18 year olds to use poorly regulated digital identification products that could put their biometric data at risk.
https://www.independent.co.uk/news/uk/home-news/social-media-ico-protect-children-b2936462.html
#ageverification #privacy #digitalid #ofcom #ico #onlinesafety #ukpolitics #ukpol](https://social.openrightsgroup.org/@openrightsgroup/116215420281095142)
* [https://www.reddit.com/r/linux/s/jfFRZHR0yL
Mega thread on who is behind these age verification laws, spoiler alert it’s Meta.](https://bsky.app/profile/elyon113.bsky.social/post/3mgwr775uv222), [Age Verification Lobbying: Dark Money, Model Legislation & Institutional Capture  How corporate lobbying, think tank infrastructure, competing model legislation, and obscured funding networks are shaping age verification policy across 45 states and Congress.](https://tboteproject.com/)
* [Users hate it, but age-check tech is coming. Here’s how it works.  On-device face scans and cross-platform age keys decrease privacy risks, but trust issues abound. Mar 2026](https://arstechnica.com/tech-policy/2026/03/after-discord-fiasco-age-check-tech-promises-privacy-by-running-locally-does-it-work/)
* [GrapheneOS refuses to comply with new age verification laws for operating systems — group says it will never require personal information, Mar 2026](https://www.tomshardware.com/software/operating-systems/grapheneos-refuses-to-comply-with-age-verification-laws)
* [need to print this out and mail it to every legislator (related: do they still do those posterboards of tweets in Congress or no? feels like I haven't seen those in a sec)](https://bsky.app/profile/rebeccawilliams.info/post/3mhjtq7orw22j)
* [Apple Just Lost Me, Mar 2026](https://andregarzia.com/2026/03/apple-just-lost-me.html): Gatekeeper, macOS 26, Age verification (UK), Next steps for me
* [Well this is the first time I think I’ve been genuinely bloody livid about an update because of iOS 26.4.
I don’t do credit cards, only debit, which is common enough in the UK, and none of the cards I input were enough to prove I’m over 18, despite the fact I purchased the damn phone, it’s tied to my Apple ID which has my birthdate, and since we don’t have ID cards and I don’t drive, my one method of verification (that being my passport) was not accepted.
As a result I cannot change some settings on the phone I spent my own money on….. What the actual hell is this utter fucking bullshit? Age verification laws strike again. Fan fucking tastic.](https://universeodon.com/@FreakyFwoof/116285526747734503), <https://www.resetera.com/threads/psa-ios-26-4-introduces-os-level-age-verification-in-the-uk.1472083/>
* [Social media giants are not complying with under‑16s social media ban, new report finds, Mar 2026](https://theconversation.com/social-media-giants-are-not-complying-with-under-16s-social-media-ban-new-report-finds-279555) "The new report paints a complicated picture - and leaves other key questions about the social media ban unanswered.", [Social media firms must better enforce Australia under-16 ban, watchdog says](https://www.bbc.com/news/articles/cy4181pkxl2o)
* BeWelcome: [Identity verification as additional nonobligatory feature [Feature Requests]](https://www.bewelcome.org/group/571/forum/s19329), [EU PRADO - Public Register of Authentic identity and travel Documents Online](https://www.consilium.europa.eu/prado/en/prado-start-page.html)

* [Should I Use My State’s Digital Driver’s License? Oct 2024](https://www.eff.org/deeplinks/2024/10/should-i-use-my-states-digital-drivers-license) (Mobile app ID)
