# Identity age verification

## References

* "Age verification" laws are actually "upload your ID or get your face scanned to access every website, ending anonymity and associating your identity with everything you do online" laws and if more people understood that they would not be down for this authoritarian nonsense, Apr 2025
https://bsky.app/profile/evangreer.bsky.social/post/3lltgsnbqr32k
https://www.stoponlineidchecks.org/
* paperssn, Apr 8
SNEAK PEEK 🚨🚨: Regulators around the world are forcing websites to verify users' ages. This is baffling because, as my new paper explains, age verification requirements counterproductively HURT children, adults, & the Internet papers.ssrn.com/sol3/papers.... #ChildSafety #AgeAuthentication
https://bsky.app/profile/ericgoldman.bsky.social/post/3lmcocik3zk24
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5208739
= third party/clearing house? gov, banks, big tech, ngo, others. none ideal/ready
+
https://support.google.com/accounts/answer/10071085?hl=en
https://segpay.com/blog/user-device-age-verification/
https://ftxidentity.com/blog/device-based-age-verification/
https://verifymy.io/age-verification-and-estimation/
https://www.newsweek.com/device-level-age-verification-our-best-shot-protecting-kids-online-opinion-2001748
https://support.apple.com/en-us/102473
https://9to5mac.com/2025/02/27/apple-age-verification-child-safety-features/
https://medium.com/@drewsmith_6943/apple-wallet-id-is-the-solution-to-age-verification-online-26bef8219832
https://about.instagram.com/blog/announcements/new-ways-to-verify-age-on-instagram
https://www.yoti.com/blog/yoti-age-scan/
* Why I Emphatically Oppose Online Age Verification Mandates | Technology & Marketing Law Blog
https://blog.ericgoldman.org/archives/2025/04/why-i-emphatically-oppose-online-age-verification-mandates.htm

* [Digital Identities and the Future of Age Verification in Europe, Apr 2025](https://www.eff.org/deeplinks/2025/04/digital-identities-and-future-age-verification-europe). likely to be backed by eIDAS
https://www.eff.org/deeplinks/2025/04/age-verification-european-union-mini-id-wallet
* https://blog.google/products/google-pay/google-wallet-age-identity-verifications/
* [Google, Apple clash with Meta over age checks on App Stores: All you need to know, Jun 2025](https://www.livemint.com/technology/tech-news/google-apple-clash-with-meta-over-age-checks-on-app-stores-all-you-need-to-know-11749835268800.html)
* [New: I looked at 90 porn sites to test the new age-verification law rewriting the web. The ones following the rules, and scanning visitors' faces, are crumbling, while the lawbreakers are doubling or tripling their traffic. One of many unintended consequences for an experimental tech https://wapo.st/47QuttW](https://bsky.app/profile/drewharwell.com/post/3lxoygbljzs2o), <https://bsky.app/profile/jsrailton.bsky.social/post/3lxp4hjhkqs2x>, <https://www.washingtonpost.com/technology/2025/08/31/age-verification-uk-porn-sites/>
* [Trial of tech that could be used to keep Australian under-16s off social media finds some errors ‘inevitable’, Aug 2025](https://www.theguardian.com/australia-news/2025/aug/31/age-assurance-technology-trial-report-australia-under-16-social-media-ban-some-errors-inevitable), <https://ageassurance.com.au/report/>
* [Heartbreaking: Worst Person You Know Just Made a Great Point https://www.404media.co/4chan-and-kiwi-farms-sue-the-uk-over-its-age-verification-law/](https://bsky.app/profile/evacide.bsky.social/post/3lxflur4mb22n)
* [Mississippi, Bluesky, Blacksky, the ATmosphere, Mastodon, and the Fediverse https://privacy.thenexus.today/mississippi-bluesky-blacksky-the-atmosphere-mastodon-and-the-fediverse/ A summary of the situation (both in the ATmosphere and the Fediverse) links to a bunch of interesting discussions, and an appendix on just why age verification laws are so bad.  🧵](https://bsky.app/profile/jdp23.thenexus.today/post/3lxilk7a27c2q)
* [To be clear: this is yet another reason why many of these laws are so problematic. If people want to run fediverse instances of any size, the fact that costly age verification requirements could put them in legal jeopardy, is very bad. Regulators make laws as if every website is Facebook.](https://bsky.app/profile/mmasnick.bsky.social/post/3lxky5ckwc22b), <https://techcrunch.com/2025/08/29/mastodon-says-it-doesnt-have-the-means-to-comply-with-age-verification-laws/>
